.page {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    display: flex;
justify-content: center;
align-items: center;

color: #ffffff;
  }
  
  .page button {
    background-color: #0084ff;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    margin-right: 1px; 
    padding: 10px;
    width: 90px;
    transition: background-color 0.3s ease;
  }
  
  .page button:hover {
    color: #dfe222;
    background-color: #0f00e6;
  }
  
  
  .page .active {
    font-weight: bold;
    text-decoration: underline;
  }
  .numbers {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
  }
  
  span {
    margin: 0 5px;
    font-size: 18px;
    font-weight: bold;
    color: blue;
    cursor: pointer;
  }
  
  span:hover {
    text-decoration: underline;
  }
 
  .page p.active {
    background-color: #0f00e6;
    color: white;
  }

  .page ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .page li {
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .page li.active {
    background-color: #3f51b5;
    color: white;
  }
