.filterContainer{
    background-color: #000000;
    color: #ffffff;
    display: flex;   
    padding: 10px; 
    top: 0;
    flex-direction: column;
    align-items: stretch;
    width: 200px;
    height: 650px;
    border: 2px solid rgba(147, 138, 144, 0.876);
    
   
}
.filterContainer * {
    padding: 15px;
  }
  
  